apiVersion: batch/v1
kind: Job
metadata:
  generateName: {{ job_name }}-
spec:
  backoffLimit: 0
  template:
    spec:
      priorityClassName: research-med
      restartPolicy: "Never"
      containers:
        - name: neuralpde
          image: {{ image }}
          workingDir: /home/ls6/dulny/neuralPDE-2022/
          imagePullPolicy: "Always"
          env:
            - name: LOGNAME
              value: "dulny"
            - name: USER
              value: "dulny"
            - name: OMP_NUM_THREADS
              value: "{{ cpus }}"
          resources:
            limits:
              {% if use_gpu -%}nvidia.com/gpu: "1" {% endif %}
              cpu: "{{ cpus }}"
              memory: "{{ memory }}Gi"
            requests:
              {% if use_gpu -%}nvidia.com/gpu: "1" {% endif %}
              cpu: "{{ cpus }}"
              memory: "{{ memory }}Gi"
          volumeMounts:
            - mountPath: "/home/ls6/dulny/neuralPDE-2022/data/"
              name: data
            - mountPath: "/home/ls6/dulny/neuralPDE-2022/data/weatherbench"
              name: weatherbench
            - mountPath: "/home/ls6/dulny/neuralPDE-2022/data/plasim"
              name: plasim
            - mountPath: "/home/ls6/dulny/neuralPDE-2022/outputs/"
              name: outputs
            - mountPath: "/home/ls6/dulny/neuralPDE-2022/logs2/"
              name: logs
          command: [{{ script_path }}]
          args: [{{ args_str }}]
      imagePullSecrets:
        - name: lsx-staff-registry
      volumes:
        - name: data
          cephfs:
            monitors:
              - 132.187.14.16,132.187.14.17,132.187.14.19,132.187.14.20  # Not important for you, just copy along
            user: dulny  # <namespace>
            path: "/home/ls6/dulny/neuralPDE-2022/data/" # The path you want to mount
            secretRef: # The name of the secret for auth. Is always "ceph-secret"
              name: ceph-secret
        - name: weatherbench
          cephfs:
            monitors:
              - 132.187.14.16,132.187.14.17,132.187.14.19,132.187.14.20  # Not important for you, just copy along
            user: dulny  # <namespace>
            path: "/datasets/weatherbench" # The path you want to mount
            secretRef: # The name of the secret for auth. Is always "ceph-secret"
              name: ceph-secret
        - name: plasim
          cephfs:
            monitors:
              - 132.187.14.16,132.187.14.17,132.187.14.19,132.187.14.20  # Not important for you, just copy along
            user: dulny  # <namespace>
            path: "/datasets/climate/plasimt21" # The path you want to mount
            secretRef: # The name of the secret for auth. Is always "ceph-secret"
              name: ceph-secret
        - name: logs
          cephfs:
            monitors:
              - 132.187.14.16,132.187.14.17,132.187.14.19,132.187.14.20  # Not important for you, just copy along
            user: dulny  # <namespace>
            path: "/home/ls6/dulny/neuralPDE-2022/logs2/" # The path you want to mount
            secretRef: # The name of the secret for auth. Is always "ceph-secret"
              name: ceph-secret
        - name: outputs
          cephfs:
            monitors:
              - 132.187.14.16,132.187.14.17,132.187.14.19,132.187.14.20  # Not important for you, just copy along
            user: dulny  # <namespace>
            path: "/home/ls6/dulny/neuralPDE-2022/outputs/" # The path you want to mount
            secretRef: # The name of the secret for auth. Is always "ceph-secret"
              name: ceph-secret